{% extends 'base.html' %}
<body>
    {% block contents %}
        <a href="{%url 'home'%}"> <h2> Wordcounter </h2></a>
        <br>

        <div class="card">
        <div class="card-header">
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                언어
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="(% url 'Korea' %}">한국어</a>
                <a class="dropdown-item" href="{% url 'English' %}">영어</a>
            </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">언어를 선택하세요.</h5>
            <p class="card-text">
                <form action="{%url 'result'%}">
                    <div class="form-group">
                    <textarea name="fulltext" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                    </div>
                    <input type="submit" value="제출" class="btn btn-primary">
                </form>
            </p>
        </div>
        </div>
    {% endblock %}
</body>
